@import url("reset.css");

@font-face {
  font-family: "Rodin Pro";
  src: url("fonts/FOT-Rodin\ Pro\ UB.otf");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Rodin Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  color: #333;
  font-weight: normal;
  height: 100%;
  background-color: linear-gradient(135deg, #0000aa 0%, #0000aa 100%);
}
a {
  text-decoration: none;
}
.bg-splash,
.bg-loop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.bg-splash {
  background: linear-gradient(135deg, #0000aa 0%, #0000aa 100%);
  opacity: 1;
}

.bg-loop {
  background: linear-gradient(135deg, #0000aa 0%, #0000aa 100%);
  opacity: 1;
  z-index: -3;
}
body.splash-done .bg-splash {
  opacity: 0;
}
.buttons {
  margin: 0 25% 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  isolation: isolate;
  gap: 0rem;
}
.btn {
  font-family: "Rodin Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  font-size: 3.5rem;
  font-weight: normal;
  border: none;
  background: none;
  cursor: pointer;
  display: block;
  margin-left: auto;
  filter: url(#water-ripple);
  transition: 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  letter-spacing: -0.13em; /* tighten slightly */
  margin-top: 3rem;
}
.startButton {
  rotate: -6deg;
  animation: floatStart 4s ease-in-out infinite;
  color: rgb(143, 242, 255);
}
.settingsButton {
  rotate: -5deg;
  animation: floatSettings 3.5s ease-in-out infinite;
  color: rgb(76, 251, 251);
}
.menuButton {
  rotate: 0deg;
  animation: floatMenu 4s ease-in-out infinite;
  color: rgb(129, 218, 247);
}
.exitButton {
  rotate: 6deg;
  animation: floatExit 3.5s ease-in-out infinite;
  color: rgb(124, 251, 255);
}

.btn.is-active {
  color: rgba(0, 0, 0, 1);
  scale: 1.3;
}

.triangle-indicator {
  --triangle-width: 15rem;
  --triangle-height: 5rem;
  --top: 80;
  --rot: 0deg;
  --scale: 0.8;
  rotate: var(--rot);
  scale: var(--scale);
  position: absolute;
  width: 0;
  height: 0;
  border-left: calc(var(--triangle-width)) solid transparent;
  border-right: calc(var(--triangle-width) / 8) solid transparent;
  border-top: var(--triangle-height) solid white;
  transition: 220ms ease;
  animation: floatTriangle 3.5s ease-in-out infinite;
  z-index: -1;
  pointer-events: none;
}

.triangle-indicator--red {
  border-top-color: rgba(255, 38, 0, 0.5);
  filter: none;
  z-index: 2;
  mix-blend-mode: screen;
  pointer-events: none;
  animation: floatTriangle 3.5s ease-in-out infinite;
}

@keyframes floatStart {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-3px, -5px);
  }
  50% {
    transform: translate(2px, 3px);
  }
  75% {
    transform: translate(-2px, 4px);
  }
}

@keyframes floatSettings {
  0%,
  100% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(3px, -4px);
  }
  60% {
    transform: translate(-2px, 5px);
  }
  80% {
    transform: translate(2px, -3px);
  }
}

@keyframes floatMenu {
  0%,
  100% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(7px, 0px);
  }
  60% {
    transform: translate(-2px, 8px);
  }
  80% {
    transform: translate(1px, -3px);
  }
}

@keyframes floatExit {
  0%,
  100% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(6px, -4px);
  }
  60% {
    transform: translate(0px, 5px);
  }
  80% {
    transform: translate(7px, 0px);
  }
}

@keyframes floatTriangle {
  0%,
  100% {
    transform: translate(0, 0) rotate(var(--rot)) scale(var(--scale));
  }
  25% {
    transform: translate(0px, -4px) rotate(var(--rot)) scale(var(--scale));
  }
  50% {
    transform: translate(2px, 0px) rotate(var(--rot)) scale(var(--scale));
  }
  75% {
    transform: translate(-2px, 4px) rotate(var(--rot)) scale(var(--scale));
  }
}

@media (max-aspect-ratio: 1/1) {
  html,
  body {
    height: 100dvh;
    overflow: hidden;
    overscroll-behavior: none;
  }

  .buttons {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 0%;
    margin-bottom: 0%;
    height: 100dvh;
    min-height: unset;
    padding-top: 40dvh;
  }
  .btn {
    font-size: 2.5rem;
  }
  .triangle-indicator {
    --triangle-width: 10rem;
    --triangle-height: 3rem;
    --top: 40;
  }
}
