@import url("reset.css");

:root {
  --bg: #000000;
  --text: #ac3232;
  --accent: #af6d6d;
  --shadow: 0 6px 18px #ac3232;
}

@font-face {
  font-family: "basis33";
  src: url(../fonts/basis33.ttf);
  font-weight: normal;
}

html {
  font-size: clamp(14px, 1.2vw + 10px, 18px);
  background-color: var(--bg);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  line-height: 1.4;
  font-family: "basis33", system-ui, -apple-system, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 0;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  gap: 1rem;
  transition: background-color 200ms ease, color 200ms ease;

  background-image: url("../assets/about_me/background.gif");
  background-size: cover; /* Makes image cover entire viewport */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll; /* Keeps background fixed when scrolling */
}

.character {
  width: 30rem;
  height: 30rem;
  object-fit: scale-down;
  backface-visibility: hidden;
}

a {
  color: var(--accent);
}

@media (prefers-reduced-motion: reduce) {
}

.dialogue-box {
  position: relative;
  display: inline-block;
  width: 100%;
  z-index: 0;
  margin-top: -2rem;
}
.dialogue-box img.dialogue {
  display: block;
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  position: sticky;
  object-fit: contain;
}

@media (orientation: portrait) {
  .dialogue-box img.dialogue {
    content: url("../assets/about_me/dialogue_box_vertical.png");
  }
  .character {
    width: 30rem;
    height: 30rem;
  }
}

.dialogue-text {
  position: absolute;
  top: 10%;
  left: 18%;
  right: 18%;
  color: var(--text);
  padding: 10px 12px;
  font-size: 1.7rem;
  line-height: 1.2;
  text-align: left;
  pointer-events: none;
  white-space: pre-wrap;
  z-index: 2;
  box-sizing: border-box;
  max-height: 68%;
  overflow-y: auto;
  overflow-x: hidden;

  scroll-behavior: smooth;

  scrollbar-width: thin;
  scrollbar-color: var(--accent) transparent;
}

.dialogue-text::-webkit-scrollbar {
  width: 4px;
}

.dialogue-text::-webkit-scrollbar-track {
  background: transparent;
}

.dialogue-text::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 2px;
}
