@import url("./reset.css");
@font-face {
  font-family: "PixelMplus12";
  src: url(../assets/fonts/PixelMplus12-Regular.ttf);
}

body {
  background-color: #f9e3ff;
  z-index: 0;
  text-align: center;
  font: 16px "PixelMplus12", sans-serif;
}

.sidebar {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  display: flex;
}

.sidebar img {
  height: 100vh;
  width: auto;
  display: block;
}

.left {
  position: fixed;
  justify-content: flex-start;
}

.right {
  position: fixed;
  top: 0;
  right: 0;
  justify-content: flex-end;
  transform: scaleX(-1);
}

.desktop {
  display: flex;
  height: 100dvh;
  width: 100%;
  position: fixed;
  z-index: -2;
  justify-content: center;
}

@media (max-aspect-ratio: 1/1) {
  .sidebar {
    display: none;
  }
}
