.post-list {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.post-window {
  background: url("/assets/images/window.png") no-repeat center / 100% 100%;
  position: absolute;
  padding: 3rem;
  cursor: grab;

  aspect-ratio: 670 / 800;
  width: 40%;
  height: auto;
}

.post-window p {
  background-color: #fff8ff;
}

.post-window h1 {
  margin-top: 0;
  font-size: 2rem;
}

.post-window .post-list {
  position: absolute;
  width: 100%;
  height: auto;
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 2rem;
}

.post-window .post-list ul {
  list-style: none;
}

.post-window .post-list li {
  text-align: left;
  margin: 0rem;
  padding: 2rem;
  position: relative;
}

.post-window .post-list li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 90%;
  height: 2px;
  background: #f1f1f1;
  transform: translateX(-50%);
}

.post-date {
  font-size: 0.8rem;
  color: #555;
}

@media (max-aspect-ratio: 1/1) {
  .post-window {
    background: url("/assets/images/window_vertical.png") no-repeat
      center/contain;
    cursor: default;
    aspect-ratio: auto;
    width: 100vw;
  }
}

.interactions img {
  margin-right: 8px;
}
